*{
    box-sizing: border-box;
    height: auto;
    width: auto;
}

.navbar{
    position: relative;
    height: 100px;
    background-color:antiquewhite;
    display: flex;
    margin: -8px -8px 0px -8px;
    border-bottom: 2px solid #aea5a5;
}

.woman{
    position: absolute;
    left: 15em;
    top: 20px;
}
.woman a{
    text-decoration: none;
    color: black;
}
.men{
    position: absolute;
    left: 39em;
    top: 20px;
}
.men a{
    text-decoration: none;
    color: black;
}
.electronics{
    position: absolute;
    left: 60em;
    top: 20px;
}
.electronics a{
    text-decoration: none;
    color: black;
}
.jewelery{
    position: absolute;
    left: 80em;
    top: 20px;
}
.jewelery a{
    text-decoration: none;
    color: black;
}
#c-png{
    height: 40px;
    position: absolute;
    right: 20px;
    top: 25px;
    cursor: pointer;
}
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 40em;
    min-height: 100vh;
    padding: 20px;
    background-color: #bbb1f4;
    transition: 1s;
}
.cart.active{
    right: 0;
}
.cart-title{
    text-align: center;
    font-weight: 600;
    margin-top: 2em;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    margin-top: 1em;
}
.cimg{
    width: 120px;
    height: 120px;
    margin-left: 40px;
    padding: 10px;
}
.details{
    display: grid;
    row-gap: .5em;
}
.c-producttitle{
    text-transform: uppercase;
}

.c-quantity{
    border: 1px solid black;
    width: 2.5em;
    text-align: center;
    font-size: 1em;
}
.delete{
    height: 25px;
    background-color: #B2A4FF;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 10em;
}
.c-remove{
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5em;
    border-top: 1px solid black;
}
.total-title{
    font-size: 25px;
    font-weight: 600;
}
.total-price{
    font-size: 25px;
    margin-left: 20px;
}
.btn-buy{
    display: flex;
    margin: 1.5em auto 0 auto;
    padding: 12px 20px;
    background-color: orangered;
    font-size: 15px;
    color: antiquewhite;
    border: 1px solid orangered;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
}
#close{
    height: 30px;
    position: absolute;
    top: 1em;
    right: .8em;
    cursor: pointer;
    border-radius: 20px;
}
/*woman*/
.heading1{
    position: relative;
    top: 2em;
    left: 2em;
}
.title{
    padding: 10px;
}
.womanclass{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 90em;
    margin: auto;
    position: relative;
    top: -10em;
}
.w {
    position: relative;
    top: 14em;
    height: auto;
    width: 430px;
    background-color: rgb(207, 174, 174);
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}
.w img{
    width: 300px;
    margin: auto;
    height: 300px;
    padding-left: 20px;
    
}
.description{
    padding-left: 15px;
    padding-right: 10px;
    height: 100px;
    overflow-y: scroll;
}
.description::-webkit-scrollbar {
    display: none;
}
.rating{
    padding-left: 15px;
}
.count{
    padding-left: 15px;
}
.p{
    padding-left: 15px;
}
.btn{
    height: 40px;
    width: 100px;
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: #B2A4FF;
    color: rgb(5, 5, 5);
    border-radius: 10px;
    border: 1px solid #B2A4FF;
    cursor: pointer;
}
.title{
    color: rgba(255, 0, 0, 0.733);
}

/*men*/

.heading2{
    position: relative;
    top: 4em;
    left: 2em;
}
.title{
    padding: 10px;
}
.menclass{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 90em;
    margin: auto;
    position: relative;
    top: -30px;
}
.m {
    position: relative;
    top: 14em;
    height: auto;
    width: 350px;
    background-color: rgb(207, 174, 174);
    margin-top: -40px;
    padding: 10px;
    border-radius: 10px;
}
.m img{
    width: 300px;
    margin: auto;
    height: 300px;
    padding-left: 20px;
}

/*electronics*/

.heading3{
    position: relative;
    top: 7em;
    left: 2em;
}
.title{
    padding: 10px;
}
.electronicclass{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 90em;
    margin: auto;
}
.e {
    position: relative;
    top: 14em;
    height: auto;
    width: 430px;
    background-color: rgb(207, 174, 174);
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}
.e img{
    width: 300px;
    margin: auto;
    height: 300px;
    padding-left: 20px;
}

/*jwellery*/

.heading4{
    position: relative;
    top: 9em;
    left: 2em;
}
.title{
    padding: 10px;
}
.jeweleryclass{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 90em;
    margin: auto;
    position: relative;
    top: 130px;
}
.j {
    position: relative;
    top: 14em;
    height: auto;
    width: 350px;
    background-color: rgb(207, 174, 174);
    margin-top: -35px;
    padding: 10px;
    border-radius: 10px;
}
.j img{
    width: 300px;
    margin: auto;
    height: 300px;
    padding-left: 20px;
}
